.navbar{
  position: absolute;
  background-color: transparent!important;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(74, 148, 142,0.5);
}

.nav-link{
  color: #000000!important;
  margin-right: 5px;
}

.nav-link:hover{
  color: rgba(45, 138, 130)!important;
}

.phone .email{
  margin-right: 5px;
}

.phone{
  color: #03A9F4;
}

.email{
  color: #E91E63;
}

#login{
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 0.2rem 1rem!important;
  line-height: 30px;
}

#login:hover{
  background-color: #F44336!important;
  border: 2px solid #F44336;
}

#signup{
  border: 2px solid #F44336;
  background-color: #F44336;
  border-radius: 20px;
  padding: 0.2rem 1rem!important;
  line-height: 30px;
}

#signup:hover{
  background-color: #fff!important;
  border: 2px solid #fff;
  color: #F44336!important;
}


main{
    padding:6%;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}















